@using TravelTrickProject.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog List</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>TİTLE</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Title</td>
            <td><a href="/Admin/BlogDelete/@x.ID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Admin/BlogShow/@x.ID" class="btn btn-warning">Update</a></td>
            <td><a href="#" class="btn btn-default">Details</a></td>
        </tr>
    }
</table>
<a href="/Admin/NewBlog/" class="btn btn-primary">New Blog</a>

