@using TrevelTricProject.Models.Classes
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>About</h3>
            @foreach (var x in Model)
            {
                <img src="@x.FotoUrl" alt="" />
                <p>@x.explanation</p>
            }
        </div>
    </div>
</div>

