
<div class="content-form">
        <h3>Explanation</h3>
        <form method="post">
            <input type="text" placeholder="ID" name="BlogId" value="@ViewBag.values" required/>
            <input type="text" placeholder=" User Name" name="UserName" required />
            <input type="text" placeholder="e-Mail" name="Email" required />
            <textarea placeholder="Message" name="Comment"></textarea>
            <input type="submit" value="SEND" />
        </form>
    </div>
